@use '../settings/font-sizes.scss' as fz;
@use '../tools/responsive.scss';
@use '../settings/spacing.scss';
@use '../settings/colors.scss';

.block-testimonials {
    color: colors.$white;
    background-color: colors.$black;
    padding-top: spacing.$xxxl;
    padding-bottom: spacing.$xxxl;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.testimonial {
    padding: 0;
    margin: 0;
    padding-top: spacing.$xl;
    padding-bottom: spacing.$xl;

    &__text {
        font-style: italic;
        font-size: fz.$size-l;

        @include responsive.mq($from: tablet_large) {
            font-size: fz.$size-xl;
        }

        &:before {
            content: '“ ';
        }
        &:after {
            content: ' ”';
        }
    }

    &__author {
        font-size: fz.$size-xs;
    }
}