$h1-mobile: 24px;
$h2-mobile: 22px;
$h3-mobile: 20px;
$h4-mobile: 18px;
$h5-mobile: 16px;
$h6-mobile: 14px;

$h1-medium: 26px;
$h2-medium: 24px;
$h3-medium: 22px;
$h4-medium: 20px;
$h5-medium: 18px;
$h6-medium: 16px;

$link-size_wide: 14px;

$h-lh: 1.2;
$t-lh: 1.2;
$lh-lg: 1.4;
$btn-lh: 1.2;

$size-xxl: 28px;
$size-xl: 24px;
$size-l: 20px;
$size-m: 18px;
$size-s: 16px;
$size-xs: 14px;
$size-xxs: 12px;
